.cabecalho {
    min-width: 100%;
    height: 1.5vh;
    background-color: #00A884 !important;
    color: rgb(221, 221, 221) !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    gap: calc(60%);
    position: fixed;
}

.h {
    font-size: calc(1.5rem);
}

.link {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.link-a {
    text-decoration: none;
    background-color: rgb(154, 58, 245);
    padding: 10px;
    border-radius: 8px;
    color: rgb(233, 224, 224);
}
.link-a:hover {
    background-color:rgb(145, 45, 45);
}

@media only screen and (max-width: 1285px) {
    .cabecalho {
        gap: 40%; 
    }
}
@media only screen and (max-width: 841px) {
    .cabecalho {
        gap: 20%; 
    }
}
@media only screen and (max-width: 620px) {
    .cabecalho {
        gap: 10%; 
    }
}
@media only screen and (max-width: 560px) {
    .cabecalho {
        gap: 5%; 
    }
}
@media only screen and (max-width: 517px) {
    .cabecalho {
        gap: 0%; 
    }
    .link {
        display: flex;
        justify-content: flex-start;
        gap: 0.1rem;
    }
    
}

@media only screen and (max-width:432px) {
    .cabecalho {
        min-width: 84%;
        height: 1vh;
        background-color: rgb(27, 24, 24) !important;
        color: rgb(221, 221, 221) !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2rem;
        gap: 0.5rem;
        

    }
    .h {
        font-size: calc(1.3rem);
        margin-left: -1rem;
    }
    .link {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
    }

    
}