.cabecalho {
    min-width: 90%;
    height: 1.5vh;
    background-color: rgb(27, 24, 24) !important;
    color: rgb(221, 221, 221) !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    gap: 20rem;

}

.h {
    font-size: calc(1.5rem);
}

.link {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.link-a {
    text-decoration: none;
    background-color: rgb(120, 9, 224);
    padding: 10px;
    border-radius: 8px;
    color: white;
}

@media only screen and (max-width:432px) {
    .cabecalho {
        min-width: 90%;
        height: 1vh;
        background-color: rgb(27, 24, 24) !important;
        color: rgb(221, 221, 221) !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2rem;
        gap: 2px;

    }
}