*{
  margin: 0;
  padding: 0;
  max-width: 100%;
}
html{
  margin: 0px;
  max-width: 100%;
  
}
body{
  background-color: black;
  color: white;

}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}